myvenv/
venv/
.venv/

__pycache__/
*.pyc
*.pyo

.git/
.gitignore

.env
*.env

data/

*.db

playwright-report/
test-results/

node_modules/
.dockerignore

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/

# logs
*.log